/*
 * Edu
 * KeacNg
 * admin@wgpsec.org
 * 2017-8-10
 */

.flat {
    background-image: none !important;
}

.flat,
.sidenav {
    margin-bottom: 20px;
    box-shadow: 1px 1.732px 1px rgba(0, 0, 0, 0.06), inset 0 0 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    border-radius: 2px;
    border: none;
    border: 1px solid #e0e0e0\9;
}

.flat h2,
.sidenav h2,
.flat h3,
.sidenav h3 {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0 20px;
    color: #444;
    font-size: 18px;
}

.flat h2 span.count,
.sidenav h2 span.count,
.flat h3 span.count,
.sidenav h3 span.count {
    color: #666;
    font-size: 20px;
    font-weight: normal;
}

.flat h2 span,
.sidenav h2 span,
.flat h3 span,
.sidenav h3 span {
    color: #15c288;
    font-size: 14px;
    margin-left: 10px;
}

.js-user-card {
    position: relative;
    display: inline-block;
}

.avatar-sm {
    width: 60px !important;
    height: 60px !important;
    margin-bottom: 10px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.avatar-sm {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
}

.daren-icon,
.dapinpai-icon {
    width: 22px;
    height: 22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 100%;
    position: absolute;
    bottom: 5px;
    left: 32%;
    margin-left: 20px;
    border: 2px solid #fff;
    background: #ff9445 no-repeat 3px center;
    line-height: 22px;
    font-size: 12px;
}

.daren-icon:before,
.dapinpai-icon:before {
    content: "i";
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    height: 22px;
}


/*Home*/

.m-home {
    width: 100%;
    height: 370px;
    background: #fff url(../img/user-default-cover-full.jpg);
    color: #fff;
    background-size: cover;
}

.m-home .userImg {
    display: block;
    text-align: center;
    margin-top: 57px;
}

.m-home .userImg>a {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.m-home .userImg img {
    margin: 5px auto;
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.m-home .user-info .user-name {
    font-size: 18px;
    color: #fff;
}

.m-home .user-info .user-flow {
    margin: 5px 0;
}

.m-home .user-info .user-flow a {
    color: #fff;
    white-space: nowrap;
    border-radius: 2px;
    font-size: 1.4rem;
    line-height: 34px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.m-home .user-info .user-flow span {
    display: inline-block;
    width: 100px;
    height: 32px;
    line-height: 32px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #15c288;
    color: #15c288;
    margin-right: 12px;
    cursor: pointer;
}

.m-home .user-info .user-flow span i {
    padding-right: 6px;
}

.m-home .user-info .user-flow a:last-child span {
    background: #15c288;
    color: #fff;
    line-height: 30px;
}

.m-home .user-info p {
    max-width: 424px;
    height: 65px;
    font-size: 12px;
    line-height: 24px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 20px auto;
    padding: 12px 50px;
    overflow: hidden;
    position: relative;
}

.m-home .user-info p a {
    position: absolute;
    right: 19px;
    top: 60%;
    color: #15c288;
    display: none;
}

.home-nav {
    margin-bottom: 20px;
    background-color: #fff;
}

.home-nav ul.nav-main li {
    float: left;
    height: 54px;
    color: #666;
}

.home-nav ul.nav-main li a {
    padding: 18px 40px;
    font-size: 14px;
    line-height: 1.42857;
}

.home-nav ul.nav-main li.active a {
    color: #15c288;
}

.home-nav li>a:focus,
.home-nav li>a:hover {
    color: #15c288;
    background: none;
}

.user-home-left {
    background-color: #fff;
}

.section-header {
    padding-bottom: 21px;
    border-bottom: 1px solid #CFD5D8;
}

.user-home-left .dynamic-title {
    color: #787d82;
    line-height: 14px;
    margin-top: 10px;
    padding-top: 25px;
    font-size: 14px;
}

.user-home-left .section-body {
    padding: 30px 0;
}

.user-home-left .section-body .user-img img {
    width: 40px;
    border-radius: 100%;
}

.user-home-left .section-body .item {
    position: relative;
    padding: 30px 0;
    border-bottom: 1px solid #CFD5D8;
}

.user-home-left .section-body .item .share {
    position: absolute;
    right: 25px;
    top: 140px;
    z-index: 10;
    font-size: 18px;
    color: #C0C4C7;
}

.user-home-left .section-body .item .content {
    width: 790px;
}

.user-home-left .section-body .item .content .head {
    margin-bottom: 16px;
    width: 100%;
}

.user-home-left .section-body .item .content .head .name {
    line-height: 14px;
}

.user-home-left .section-body .item .content .head .name a {
    color: #4d555d;
    font-size: 14px;
    font-weight: 700;
}

.user-home-left .section-body .item .content .head .time {
    color: #93999f;
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
}

.user-home-left .section-body .item .content .head .title {
    font-size: 16px;
    color: #07111b;
    line-height: 16px;
    margin-top: 20px;
}

.user-home-left .section-body .item .content .body {
    background-color: #F2F4F6;
}

.user-home-left .section-body .item.new-article .content .body img {
    position: absolute;
    width: 150px;
    height: 93px;
    bottom: 20px;
    top: 65px;
    left: 24px;
}

.user-home-left .section-body .item.new-course .content .body img {
    width: 240px;
    height: 135px;
    float: left;
}

.user-home-left .section-body .item.new-article .content .body .content {
    padding-top: 24px;
    width: 100%;
    float: right;
    line-height: 30px;
    color: #4C545C;
}

.user-home-left .section-body .item.new-article .content .body .content {
    background-color: #F2F4F6;
    padding-bottom: 19px;
    height: 180px;
}

.user-home-left .section-body .item .content .body .content {
    padding-top: 20px;
    overflow: visible;
}

.user-home-left .section-body .item.new-article .content .body .content .subtitle {
    position: absolute;
    top: 0;
    left: 24px;
    line-height: 20px;
    margin-top: 24px;
    overflow: hidden;
    max-width: 850px;
}

.user-home-left .section-body .item.new-course .content .body .content .subtitle {
    line-height: 20px;
    margin-top: 10px;
    overflow: hidden;
}

.pl203 {
    padding-left: 203px !important;
}

.user-home-left .h135 {
    height: 135px !important;
}

.user-home-left .w636 {
    width: 534px !important;
}

.user-home-left .section-body .item.new-article .content .body .content .detail {
    padding-left: 24px;
    position: relative;
    word-break: break-all;
    margin-top: 35px;
    line-height: 24px;
    padding-right: 24px;
}

.user-home-left .section-body .item .content .body .content .subtitle,
.user-home-left .section-body .item .content .body .content .subtitle a {
    color: #4d555d;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
}

.person-count {
    width: 262px;
    height: 97px;
    background-color: #fff;
    margin-bottom: 12px;
    font-size: 12px;
}

.person-count ul {
    padding: 26px 0 29px 20px;
}

.person-count li {
    display: inline-block;
}

.person-count li a {
    font-size: 18px;
    width: 30px;
    height: 25px;
    display: inline-block;
    overflow: hidden;
}

.person-count li a,
.person-count li span {
    display: block;
    text-align: center;
}

.person-count li.line {
    height: 33px;
    width: 1px;
    background: #eee;
    padding: 0;
    margin: 0 14px;
}

.person-info {
    color: #444;
}

.person-info ul {
    padding: 20px 20px 0;
}

.person-info li {
    padding: 7px;
    border-bottom: 1px dashed #eee;
}

.person-info li span:first-child {
    color: #999;
}

.person-info li .content {
    line-height: 20px;
    word-break: break-all;
}

.person-info .more {
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-top: 1px solid #eee;
    color: #999;
}

.person-learner,
.person-visitor {
    padding-bottom: 20px;
}

.person-learner>a,
.person-visitor>a {
    display: inline-block;
    margin: 16px 0;
    cursor: pointer;
}

.person-learner a.first,
.person-visitor a.first {
    padding-left: 20px;
}

.person-learner a.active,
.person-visitor a.active {
    color: #15c288;
}

.person-learner a.pull-right,
.person-visitor a.pull-right {
    padding-right: 20px;
}

.person-learner li,
.person-visitor li {
    border-bottom: none !important;
    display: inline-block;
    padding: 21px 0 0 19px;
    text-align: center;
}

.person-learner li img,
.person-visitor li img {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 15px;
}

.person-learner li>a .daren-icon,
.person-visitor li>a .daren-icon,
.person-learner li>a .dapinpai-icon,
.person-visitor li>a .dapinpai-icon {
    bottom: 13px;
}

.person-learner li .name,
.person-visitor li .name {
    text-align: center;
    width: 62px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section-header-tools {
    font-size: 14px;
    height: 58px;
    line-height: 58px;
    margin-top: 10px;
    border-bottom: 1px solid #d0d6d9;
}

.dynamic-title-tools a {
    display: inline-block;
    margin-right: 10px;
    line-height: 58px;
}

.dynamic-title-tools a:hover,
.dynamic-title-tools a.active {
    color: #0F9E5E;
    border-bottom: 1px solid #0F9E5E;
}

.study-tl {
    padding: 0 0 0 64px;
}

.study-tl .tl-item {
    position: relative;
    padding-left: 37px;
    border-left: 1px solid #d3d7da;
}

.study-tl .time {
    position: absolute;
    left: 0;
    top: 20px;
    margin-left: -64px;
    line-height: 16px;
    font-size: 12px;
    color: #8a8c8f;
}

.study-tl .time:before {
    content: '';
    display: block;
    position: absolute;
    left: 60px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #d0d6d9;
}

.study-tl .tl-item:first-child:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 20px;
    left: -1px;
    top: 0;
    background-color: #fff;
}

.study-tl .time b {
    font-size: 18px;
    font-weight: 400;
}

.study-tl .time em {
    display: block;
    margin-top: 2px;
}

.course-list .course-one {
    padding: 30px 0;
    position: relative;
    border-bottom: 1px solid #eff1f0;
}

.course-list .course-list-img img {
    vertical-align: top;
    width: 200px;
    height: 113px;
}

.course-list .course-list-cont {
    padding-left: 230px;
}

.course-list .study-hd {
    font-size: 18px;
    color: #12171b;
    height: 29px;
    line-height: 29px;
    position: relative;
}

.course-list .study-hd h3 {
    display: inline-block;
}

.course-list .study-hd a {
    font-weight: 700;
}

.course-list .span-common,
.course-list .study-hd .i-new {
    font-size: 14px;
    color: #787d82;
}

.study-hd .share-box {
    top: -8px;
}

.share-box {
    position: absolute;
    right: 10px;
    top: 27px;
    width: 30px;
    background-color: #ff0;
    overflow: visible;
}

.share-box .show-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 20px;
    font-size: 16px;
    text-align: right;
    color: #bdc0c3;
    cursor: pointer;
}

.share-box .courses-r {
    width: 120px;
    text-align: center;
}

.share-box .share-box-con {
    display: none;
    position: absolute;
    z-index: 99;
    top: 18px;
    right: 0;
    height: 60px;
    background-color: #fff;
    box-shadow: 4px 4px 10px 2px #e1e1e1;
}

.share-box .courses-r .follow {
    float: left;
    width: 53px;
    height: 18px;
    text-align: center;
    border-left: 1px solid #edf1f2;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}

.share-box .courses-r .follow i {
    color: #dedede;
}

.share-box .courses-r .follow i.start {
    color: #F01400;
}

.share-box .follow i {
    vertical-align: 4px;
}

.share-box .courses-r .del {
    margin-top: 20px;
    color: #b5b9bc;
    cursor: pointer;
    display: inline-block;
}

.course-list .study-points {
    padding: 10px 0 10px;
}

.course-list .study-points .i-left {
    color: #f01400;
}

.course-list .study-points span {
    margin-right: 14px;
}

.course-list .catog-points {
    position: relative;
    padding-bottom: 10px;
    word-wrap: break-word;
}

.course-list .catog-points span {
    display: inline-block;
    width: 84px;
}

.course-list .catog-points a {
    color: #787d82;
}

.course-list .span-common i {
    color: #b5b9bc;
    font-style: normal;
}

.course-list .catog-points .continute-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    border: 1px solid #f01400;
    color: #f01400;
    width: 90px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #fff;
}

.user-course-route.title {
    width: 100%;
    height: 50px;
    color: #666;
    text-align: center;
    border: 1px solid #ccc;
    line-height: 50px;
}

.user-course-route.title span {
    color: #ff504d;
}